.logo {
  font-size: var(--font-md);
  font-weight: 700;
  color: var(--color-primary);
}

.geoIcon {
  width: 20px;
}

.geoText {
  font-size: var(--font-5xs);
  color: var(--color-gray);
  font-weight: 400;
}
