/* 64px - ширина Sidebar */
.container {
  margin-left: 64px;
  min-height: 100dvh;
  width: calc(100% - 64px);
}

@media (max-width: 767px) {
  .container {
    margin-left: 0;
    width: 100%;
  }
}
