/* 64px - ширина Sidebar */
.container {
  margin-left: var(--size-xl);
  min-height: 100dvh;
  width: calc(100% - var(--size-xl));
}

@media (max-width: 767px) {
  .container {
    margin-left: 0;
    width: 100%;
  }
}
