.wrapper {
  min-height: 100dvh;
}

.main {
  padding: var(--size-lg) var(--size-xl);
  width: 47.5vw;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.sliderSection {
  flex: 1;
  width: 52.5vw;
  height: 100dvh;
}

.content {
  margin-top: 20.2vh;
}

.title {
  font-size: var(--font-2xl);
  font-weight: 700;
  line-height: 94%;
}

.titleLogo {
  color: var(--color-primary);
}

.subtitle {
  margin-top: 34px;
  font-size: 26px;
  font-weight: 300;
  color: var(--color-gray);
}

.button {
  margin-top: 60px;
}

.footer {
  margin-top: auto;
}

.footerText {
  font-size: var(--font-6xs);
  color: var(--color-gray);
  font-weight: 400;
}

.footerLink {
  color: var(--color-dark);
  font-size: var(--font-6xs);
  text-decoration: none;
}

.footerLink:hover {
  text-decoration: underline;
}

@media (max-width: 1439px) {
  .sliderSection {
    width: 40vw;
  }

  .main {
    width: 60vw;
    padding: var(--size-lg);
  }
}

@media (max-width: 1023px) {
  .sliderSection {
    display: none;
  }

  .main {
    width: 100%;
  }
}
